defaults:
  - &base-pre-post-build
    before-script:
    after-script:
    patches:
  - &base
    name:
    status: inactive
    apt:
    branch: master
    tag:
    commit:
    requires:
    # build: globally / local
    scope: local
    setup:
      threads-enabled: True
      script:
      <<: *base-pre-post-build
  - &base-lua
    name:
    status: inactive
    apt:
    branch: master
    tag:
    commit:
    requires:
    setup:
      <<: *base-pre-post-build
  - &base-mod
    <<: *base
    dynamic: False
    status: inactive
    setup:
      <<: *base-pre-post-build
    #
